header h1, header h2{
    color: navy;
    text-align: center;
}
h1 span.h1cur{
    font-style: italic;
}

#contenido .anuncio{
    color: navy;
    text-align: center;
}
p.anuncio{
    text-align: center;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.box{
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
    margin: 40px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
}
ul{
    display: flex;
    gap: 35px;
}
li{
    list-style: none;
}
